<%= render '/layouts/enav' %>

<div class="home1 parallax">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center white-title">Go Global, Live Local.</h1>
      <h3 class="text-center white-title">Explainer blurb</h3>
      <%= link_to "Join Now", new_user_registration_path, class: "button radius" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>The Expat Life Is Exciting.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
  </div>
</div>

<div class="home2 parallax">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="white-title">The Expat Life Is Exciting.</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>The Expat Life Is Exciting.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
  </div>
</div>


<div class="home3 parallax">
  <div class="row">
    <div class="large-12 columns">
      <h3>The Expat Life Is Exciting.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>The Expat Life Is Exciting.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
  </div>
</div>


<div class="home4 parallax">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="white-title">Make The Most Of Your Experience By Learning From Others Like You.</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>The Expat Life Is Exciting.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent massa justo, luctus quis urna sed, tristique rhoncus mauris. Nullam eget eleifend nisi. Mauris pellentesque pulvinar interdum. Nam sit amet malesuada nunc. Integer nec fringilla orci. Aenean vitae ligula id lectus interdum interdum. Ut quis suscipit dui. Aenean dapibus nec est id tincidunt. Vivamus eget justo vel nulla lobortis imperdiet. Proin id erat in purus tincidunt semper. Aliquam ligula nisi, malesuada non massa id, varius fermentum augue.</p>
  </div>
</div>

<div class="home5 parallax">
  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>
</div>
