<%= render '/layouts/enav' %>

<div class="home_back">
  <img src="/assets/expat_homebanner.jpg" />
</div>

<div class="large-12 columns home_hack">
  <h1 class="text-right">Go Global, Live Local.</h1>
  <h3 class="text-right">Connect with other expats like you to get the scoop on your new home.</h3>
  <%= link_to "Join Now", new_user_registration_path, class: "button radius" %>
</div>

</div>
