<%= render '/layouts/enav' %>

  <div class="row">
    <div class="large-12 columns">
      <img src="http://www.bixamedia.com/wp-content/uploads/2015/02/home_1920x1280.jpg"
      <h1 class="text-center">Go Global, Live Local.</h1>
      <h3 class="text-center">Explainer blurb</h3>
      <%= link_to "Join Now", new_user_registration_path, class: "button radius" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns home2">
      <h3>The Expat Life Is Exciting.</h3>
    </div>
  </div>

  <div class="row home_section_three">
    <div class="large-12 columns">
      <h3>The Expat Experience Can Also Be Challenging.</h3>
    </div>
  </div>

  <div class="row home_section_four">
    <div class="large-12 columns">
      <h3>Make The Most Of Your Experience By Learning From Others Like You.</h3>
    </div>
  </div>

  <div class="row home_section_five">
    <div class="large-12 columns">
    </div>
  </div>

</div>
