<%= render '/layouts/enav' %>

<section id="slide-1" class="homeSlide">
  <div class="bcg"
    data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="#slide-1"
  >
  <div class="hsContainer">
      <div class="hsContent"
          data-center="bottom: 200px; opacity: 1"
          data-top="bottom: 1200px; opacity: 0"
          data-anchor-target="#slide-1 h2"
      >
          <h2>Simple parallax scrolling is...</h2>
      </div>
    </div>
  </div>
</section>

<section id="slide-2" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide-2"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-center-top="opacity: 0"
                data--100-bottom="opacity: 0;"
                data-anchor-target="#slide-2"
            >
                <h2>great for story telling websites.</h2>
            </div>
        </div>
    </div>
</section>
