<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1>Edit Post</h1>
    <p><em>Find me in app/views/posts/edit.html.erb</em></p>

    <%= render 'form' %>

    <%= link_to "Cancel", post_path %>

  </div>

  <%= render 'layouts/sideinav' %>
  
</div>
