<h1>Posts#index</h1>
<p><em>Find me in app/views/posts/index.html.erb</em></p>

<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
  <h2><%= link_to post.post_title, post %></h2>
  <p>Published <%= time_ago_in_words(post.created_at) %> ago</p>
  <hr />
<% end %>
