<h1>Posts#index</h1>
<p><em>Find me in app/views/posts/index.html.erb</em></p>

<% @posts.each do |post| %>
  <h2><%= post.post_title %></h2>
  <p><%= time_ago_in_words(post.created_at) %></p>
<% end %>
