<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1>Posts#new</h1>
    <p><em>Find me in app/views/posts/new.html.erb</em></p>

    <%= render 'form' %>

  </div>

  <%= render 'layouts/sideinav' %>

</div>
