<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1>Posts#update</h1>
    <p><em>Find me in app/views/posts/update.html.erb</em></p>

  </div>

  <%= render 'layouts/sideinav' %>
  
</div>
