<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1>All categories</h1>
    <p><em>Find me in app/views/categories/index.html.erb</em></p>

    <!-- Employment section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/1">Employment</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em><%= category.posts.count(:id => 1) %> posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Health & Safety section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/2">Health &amp; Safety</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Finance section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/3">Finance</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Housing section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/4">Housing</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Immigration & Visas section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/5">Immigration &amp; Visas</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Language & Education section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/6">Language &amp; Education</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Miscellaneous section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/7">Miscellaneous</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- People & Culture section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/8">People &amp; Culture</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Things To Do section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/9">Things To Do</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>

    <!-- Transportation section -->

    <div class="row">
    <div class="large-10 columns">
      <h3><a href="https://expat-crew.herokuapp.com/categories/10">Transportation</a></h3>
      <p>Explainer blurb about the category goes here.</p>
    </div>
    <div class="large-2 columns">
      <p class="post-meta"><em># posts</em></p>
    </div>
      <hr />
    </div>


  </div>

  <%= render 'layouts/sideinav' %>

</div>
