<%= render 'layouts/inav' %>

<div class="row">
  <div class="large-9 columns" id="main_content">

    <h1><%= @category.category_name %> posts</h1>
    <p>Find me in app/views/categories/show.html.erb</p>

  </div>

  <%= render 'layouts/sideinav' %>

</div>
