  <!-- This is where the navigation starts -->
    <div class="sticky">
     <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href=""><img src="../assets/white_logo_180x49.png"</a></h1>
        <!-- <%= link_to "Expat Crew", root_path %> -->
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
     <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
     <!-- Right Nav Section -->
     <ul class="right">
       <li class="active"><%= link_to "Sign Up", new_user_registration_path %></li>
       <li><%= link_to "Sign In", new_user_session_path %></li>
     </ul>

     <!-- Left Nav Section -->
       <ul class="left">
         <li><a href="#"><i class="fi-widget"></i> How It Works</a></li>
         <li><a href="#"><i class="fi-male-female"></i> Who We Are</a></li>
         <li><a href="#"><i class="fi-book"></i> Blog</a></li>
         <li><a href="#"><i class="fi-mail"></i> Get In Touch</a></li>
       </ul>
     </section>
    </nav>
    </div>
  <!-- navigation ends -->
