<!-- footer -->
<div class="row footer">
  <div class="large-3 columns">
    <h5>About Us</h5>
    <p class="widget">Aliquam viverra sem ac quam ultrices, nec tempus sem pretium. Praesent in lobortis arcu. Cras accumsan ultricies efficitur. Suspendisse nisi justo, tristique vitae iaculis in, posuere quis ante. Duis pretium cursus magna. Suspendisse velit ligula, dapibus et arcu id, facilisis lobortis nunc. Mauris ac fermentum turpis, et ultrices est. Cras non malesuada enim.</p>
    <a class="socialmedia" href="#" target="_blank"><i class="fi-social-pinterest foot"></i></a>
    <a class="socialmedia" href="#" target="_blank"><i class="fi-social-instagram foot"></i></a>
    <a class="socialmedia" href="#" target="_blank"><i class="fi-social-facebook foot"></i></a>
    <a class="socialmedia" href="#" target="_blank"><i class="fi-social-twitter foot"></i></a>
    <a class="socialmedia" href="#" target="_blank"><i class="fi-social-google-plus foot"></i></a>
  </div>
  <div class="large-3 columns">
    <h5>Latest Blog Posts</h5>
    <h6 class="subheader">Blog Post Title</h6>
    <p class="widget">Aliquam viverra sem ac quam ultrices...</p>
    <h6 class="subheader">Blog Post Title</h6>
    <p class="widget">Aliquam viverra sem ac quam ultrices...</p>
    <h6 class="subheader">Blog Post Title</h6>
    <p class="widget">Aliquam viverra sem ac quam ultrices...</p>
  </div>
  <div class="large-3 columns">
    <h5>Subscribe</h5>
    <p class="widget">Sign up for our newsletter to get the latest news delivered directly to your inbox.</p>
    <p class="widget">We never spam you. Scout's honor!</p>
    <div class="row collapse">
      <div class="small-9 columns">
      <input type="text" placeholder="Enter your email">
      </div>
      <div class="small-3 columns">
      <a href="#" class="button radius postfix">Sign Up</a>
      </div>
    </div>
  </div>
<div class="large-3 columns">
  <h5>Useful Links</h5>
  <ul class="disc widget">
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
 </ul>
</div>
</div>
<div class="row footer">
  <div class="large-12 columns">
    <p class="copyright text-center">Made with &hearts; and intention by Lauren Pawell.</p>
  </div>
</div>
