<div class="row" id="side_navigation">
  <div class="large-3 columns">

    <%= link_to "New Post", new_post_path %>

    <h5>Topics By Category</h5>
    <ul class="side-nav">
      <li><a href="#">Employment</a></li>
      <li><a href="#">Health &amp; Safety</a></li>
      <li><a href="#">Finance</a></li>
      <li><a href="#">Housing</a></li>
      <li><a href="#">Immigration &amp; Visas</a></li>
      <li><a href="#">Language &amp; Education</a></li>
      <li><a href="#">Miscellaneous</a></li>
      <li><a href="#">People &amp; Culture</a></li>
      <li><a href="#">Things To Do</a></li>
      <li><a href="#">Transporation</a></li>

    </ul>

    <h5>Topics By Destination</h5>
    <ul class="side-nav">
      <li><a href="#">Africa</a></li>
      <li><a href="#">Asia</a></li>
      <li><a href="#">Australia</a></li>
      <li><a href="#">Europe</a></li>
      <li><a href="#">North America</a></li>
      <li><a href="#">South America</a></li>
    </ul>

  </div>
</div>
