<div class="row">
  <div class="large-3 columns" id="side_navigation">

    <%= link_to "Ask the community", new_post_path, class: "button radius expand small" %>

    <h5>Topics By Category</h5>
    <ul class="side-nav">
      <li><a href="/categories/1">Employment</a></li>
      <li class="divider"></li>
      <li><a href="/categories/2">Health &amp; Safety</a></li>
      <li class="divider"></li>
      <li><a href="/categories/3">Finance</a></li>
      <li class="divider"></li>
      <li><a href="/categories/4">Housing</a></li>
      <li class="divider"></li>
      <li><a href="/categories/5">Immigration &amp; Visas</a></li>
      <li class="divider"></li>
      <li><a href="/categories/6">Language &amp; Education</a></li>
      <li class="divider"></li>
      <li><a href="/categories/7">Miscellaneous</a></li>
      <li class="divider"></li>
      <li><a href="/categories/8">People &amp; Culture</a></li>
      <li class="divider"></li>
      <li><a href="/categories/9">Things To Do</a></li>
      <li class="divider"></li>
      <li><a href="/categories/10">Transportation</a></li>

    </ul>

    <h5>Topics By Destination</h5>
    <ul class="side-nav">
      <li><a href="#">Africa</a></li>
      <li class="divider"></li>
      <li><a href="#">Asia</a></li>
      <li class="divider"></li>
      <li><a href="#">Australia</a></li>
      <li class="divider"></li>
      <li><a href="#">Europe</a></li>
      <li class="divider"></li>
      <li><a href="#">North America</a></li>
      <li class="divider"></li>
      <li><a href="#">South America</a></li>
    </ul>

  </div>
</div>
